@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

/*-----------------------------------*\ 
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /*  colors */

  --red-orange-crayola: hsl(0, 100%, 66%);
  --space-cadet: hsl(249, 37%, 19%);
  --pistachio: hsl(88, 50%, 60%);
  --cultured: hsl(220, 13%, 95%);
  --hover-saffron: hsl(45, 76%, 72%);
  --sandy-brown: hsl(36, 85%, 54%);
  --saffron: hsl(29, 78%, 68%);
  --rhythm: hsl(240, 9%, 51%);
  --white: hsl(0, 0%, 100%);

  /* typography */

  --fs-1: 46px;
  --fs-2: 28px;
  --fs-3: 18px;
  --fs-4: 15px;
  --fs-5: 14px;

  /* spacing */

  --px: 30px;
  --py: 60px;

  /* others  */

  --default-transition: 0.75s ease;
}

/*-----------------------------------*\ 
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 5px;
}

li {
  list-style: none;
}

a {
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img,
svg,
ion-icon,
span,
button {
  display: block;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--cultured);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--sandy-brown);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--space-cadet);
}

img {
  max-width: 100%;
  height: auto;
}
/*-----------------------------------*\ 
  #MAIN CONTAINER
\*-----------------------------------*/

.container {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  padding-right: 0;
  max-width: 1400px;
  margin: auto;
  background: var(--white);
  overflow: hidden;
}

/*-----------------------------------*\ 
  #REUSED STYLE
\*-----------------------------------*/

.btn {
  height: 55px;
  padding: 0 25px;
  color: var(--space-cadet);
  font-size: 14px;
  font-weight: 500;
  transition: var(--default-transition);
}

.btn:hover {
  filter: saturate(1.05) brightness(1.05);
}

.btn-primary {
  background: var(--saffron);
}

.btn-secondary {
  background: var(--cultured);
}

.btn-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-title {
  max-width: 420px;
  color: var(--space-cadet);
  font-size: var(--fs-2);
  font-weight: 600;
}

.section-text {
  max-width: 320px;
  color: var(--rhythm);
  font-size: var(--fs-4);
  line-height: 1.4;
  letter-spacing: 0.5px;
}

/*-----------------------------------*\ 
  #Navbar STYLE
\*-----------------------------------*/

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;
  padding: 20px 60px;
  background: hsla(0, 0%, 100%, 0.99) !important;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05) !important;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05) !important;
  z-index: 5 !important;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-btn-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.heading {
  color: black;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}

.heading > img {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 60px;
  background-size: 100px 100px;
}

.navbar-nav {
  display: flex;
  gap: 30px;
  align-items: center;
  /* padding: 35px; */
}

.nav-link {
  color: var(--space-cadet);
  font-size: var(--fs-5);
  transition: 0.25s ease;
}

.nav-link:hover {
  color: var(--saffron);
}

.header-search-container {
  position: relative;
}

.search-field {
  background: var(--cultured);
  width: 20rem;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
}

::placeholder {
  color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px;
}

.search-field:focus,
.search-btn > i {
  outline: none;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.search-btn {
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  color: #2e2c2c;
  transition: all 0.1s ease-in-out;
}

.search-btn > i {
  padding-right: 10px;
}

.search-btn > i.act {
  visibility: hidden;
}
.search-box {
  display: block;
}

.search-btn > i:hover {
  color: var(--saffron);
}

.shopping-cart-btn {
  position: relative;
  background: var(--cultured);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--white);
}

.shopping-cart-btn > i {
  font-size: 25px;
}

.shopping-cart-btn > i:hover {
  color: var(--saffron);
}

.shopping-cart-btn .count {
  background: var(--saffron);
  position: absolute;
  top: -2px;
  right: -2px;
  height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  border-radius: 20px;
  color: var(--space-cadet);
  font-size: 12px;
  font-weight: 500;
}

.hamburger-menu {
  display: none !important;
  margin: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.bar-top,
.bar-middle,
.bar-bottom {
  height: 5px;
  background: black;
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.hamburger-menu:hover .bar-top {
  transform: rotate(26deg);
}
.hamburger-menu:hover .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
.hamburger-menu:hover .bar-bottom {
  transform: rotate(-26deg);
}

/* Banner */
.main {
  overflow: hidden; /*For animation*/
}

.grid {
  display: grid;
}

.home {
  padding: 10rem 0 5rem;
}

.home__container {
  position: relative;
  row-gap: 2rem;
}

.home__img {
  width: 450px;
  justify-self: center;
}

.home__title {
  font-size: 3rem;
  line-height: 140%;
  margin-bottom: 1rem;
}

.home__description {
  color: #a1a1a1;
  font-weight: 400;
  padding-right: 7rem;
  margin-bottom: 2.5rem;
}

.home__social {
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow {
  font-weight: 500;
  font-size: 0.75rem;
  color: hsl(152, 24%, 32%);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.home__social-link {
  font-size: 1rem;
  color: var(--first-color);
  transition: 0.3s;
}

.home__social-link:hover {
  transform: translateX(0.25rem);
}

/* buttons */
.button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
  background-color: var(--sandy-brown);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--saffron);
}

.button__icon {
  transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button--link {
  color: var(--sandy-brown);
  font-weight: 500;
}

.button--link:hover .button__icon {
  transform: translateX(0.25rem);
}

/*-----------------------------------*\ 
  #PRODUCT SECTION
\*-----------------------------------*/
.product {
  padding: 40px var(--px);
}

.product .section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.product .section-text {
  flex-wrap: nowrap;
  margin-bottom: 60px;
}

.products-grid {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.dish-card {
  width: 350px;
  /* margin: 5%; */
  /*background: linear-gradient(45deg, #FF9800, #FFEB3B);
  */
  border-radius: 2em;
  border-top-right-radius: 10em;
  box-shadow: 0px 0px 15px #c5c5c5;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.card-image-container {
  overflow: hidden;
}

.card-image-container > img {
  width: 600px;
  height: 250px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.pro .card-image {
  width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.card-info-container {
  padding: 2em 1em 2em;
}

.card-info-heading {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  cursor: pointer;
}

.card-info-heading:hover {
  color: hsl(223, 47%, 33%);
}

.card-info-para {
  color: #666666;
  font-size: 0.8em;
  text-align: justify;
  /* font-weight: lighter; */
}
.btn-card {
  background-color: var(--saffron);
  outline: none;
  border: none;
  width: 100%;
  color: #6e6301;
  height: 60px;
  border-radius: 3em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  padding: 1em 2em;
  font-size: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn-card:hover {
  background-color: var(--sandy-brown);
  color: white;
}

.card-stats-container {
  display: flex;
  justify-content: space-between;
}

.stats-heading {
  font-size: 1em;
  color: #8e8e8e;
  margin-bottom: 0.7em;
}

.stats-para {
  font-size: 1.5em;
  font-weight: bold;
}

.card-price-details {
  display: flex;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  /* padding-left: 0.8em; */
  /* margin-bottom: 1em; */
  border-radius: 1em;
}

.plan__Aprice {
  padding-right: 10px;
}

.cart-rating {
  margin: 5px 0;
}
.cart-rating > i {
  color: var(--sandy-brown);
}

/*-----------------------------------*\ 
  #ADD TO CART
\*-----------------------------------*/

.cart-Heading {
  margin-top: 115px;
  letter-spacing: 1px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  display: block;
  height: 1px;
  width: 160px;
  border-radius: 5px;
  border: 0;
  border-top: 4px solid hsl(45, 91%, 58%);
  padding: 0;
}

.cart-inner {
  display: none;
  display: flex;
  justify-content: space-evenly;
}

.cart-items {
  flex: 0 0 50%;
  display: flex;
  flex-flow: column nowrap;
}

.cart-empty {
  width: 100%;
  padding: 1rem 2rem;
}

.cart__checkout {
  flex: 0 0 calc(50% - 2rem);
  margin-top: 50px;
  background: #fff;
  margin-left: 4rem;
  border-radius: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-self: flex-start;
  padding: 2rem;
}

.cart__checkout > h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.cart__checkout > p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.con-btn {
  display: flex;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background-color: hsl(45, 91%, 58%);
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}

.con-btn:hover {
  color: #fff;
  background-color: hsl(45, 76%, 72%);
}

/* cart all */
.cart__PDetails {
  display: flex;
  justify-content: c;
}
/* product */
.cart-item {
  display: grid;
  justify-content: space-between;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  max-width: 20rem;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 0.2em 0.2em 2.5em rgba(0 0 0/ 0.1);
  background-color: #fff;
  transition: transform 300ms ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card__img__container {
  overflow: hidden;
  background-color: red;
  height: 200px;
}
.card__img__container > img {
  width: 100%;
  height: 260px;
  display: block;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0.8rem;
}

.card__title {
  margin-left: 1rem;
  margin-top: 0.1em;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.rating {
  /* margin-top: 0.1rem; */
  margin-left: 0.9rem;
}

.rating > i {
  font-size: 15px;
  color: var(--saffron);
}
.card__desc {
  font-size: 15px;
  margin: 0.5em 1em 0.5em;
  line-height: 1.5em;
}
.plan__new {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.plan__info {
  display: flex;
  width: 150px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: hsl(225, 100%, 98%);
}

.plan__info > .decreaseQty {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  align-items: center;
}

.decreaseQty:hover {
  color: red;
  cursor: pointer;
}

.plan__info > .increaseQty {
  font-size: 15px;
  font-weight: 500;
}

.increaseQty:hover {
  color: green;
  cursor: pointer;
}

.in-box {
  background-color: hsl(225, 100%, 98%);
  font-size: 15px;
  width: 50px;
  padding: 5px 0;
  border-radius: 2px;
  color: black;
  font-weight: 600;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.in-box:focus {
  outline: none;
}

.deleted {
  animation: deleteAnimation 0.2s forwards;
}

.pay__btn {
  padding: 0.8em 2.5em;
  margin-bottom: 1em;
  /* margin-right: 1em; */
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0.2em 1em hsla(0, 99%, 55%, 0.3);
  color: #fff;
  background-color: var(--red-orange-crayola);
  font-weight: 700;
}

.pay__btn:hover {
  background-color: hsl(0, 84%, 68%);
}

.cart-product:hover {
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.price__details {
  display: flex;
  text-align: center;
  font-size: 18px;
  padding-left: 0.8em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.plan__Aprice {
  padding-right: 10px;
}

/* summary */
.summary {
  width: 450px;
  margin-right: -15px;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
  height: 56.7vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.summary__title {
  text-align: center;
  font-weight: 700;
}

.summaryItem {
  width: 100%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 24px;
}

.SummaryItemText {
  width: 100%;
  display: flex;
}
.total__product {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 3px;
}
.total__product > .cart-count {
  font-size: 15px;
  padding-right: 5px;
}
.SummaryItemText > h6,
span {
  font-size: 18px;
  font-weight: 400;
}

.SummaryItemPrice {
  width: 120px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.check__btn {
  margin-top: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  background-color: hsl(45, 91%, 58%);
  border-radius: 15px;
}
.check__btn:hover {
  color: #fff;
  background-color: hsl(45, 76%, 72%);
  transition: 0.4s ease-in-out;
  transform: translateY(-5px);
}
/* delete */

.card.zoom {
  animation: zoom forwards 0.7s ease-out 1;
}
@keyframes zoom {
  0% {
    transform: scale(1);
    width: 250px;
    min-width: 250px;
    opacity: 1;
    transform-origin: 125px 125px;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    width: 0;
    min-width: 0;
    transform: scale(0);
    opacity: 0;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 767px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home__container {
    align-items: center;
  }
}

@media (max-width: 905px) {
  .search-box {
    display: none;
  }
  .navbar-btn-group {
    display: none;
  }

  .products-grid {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .navbar {
    padding: 0;
  }
  .navbar-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .hamburger-menu {
    display: block !important;
  }
  .navbar-nav {
    display: none;
  }
  .navbar-nav {
    gap: 15px;
    font-size: 10px;
  }
  .search-box {
    display: none;
  }
  .navbar-btn-group {
    display: none;
  }

  .products-grid {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
